SECRET_KEY=change-me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_SERVER=users-postgres
POSTGRES_PORT=5432
POSTGRES_DB=users_db

DATABASE_URL=

MONGODB_URL=mongodb://root:rootpassword123@mongo:27017
REDIS_URL=redis://redis:6379/0

